# Build output
_dist

# Logs

logs
_.log
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)

lib-cov

# Coverage directory used by tools like istanbul

coverage
\*.lcov

# Compiled binary addons (https://nodejs.org/api/addons.html)

build/Release

# Dependency directories

node_modules/

# TypeScript cache

\*.tsbuildinfo

# Optional npm cache directory

.npm

# Optional eslint cache

.eslintcache

# Optional stylelint cache

.stylelintcache

# wrangler project

.dev.vars

.wrangler
